<nav class="nav-bar bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="nav-wrapper">
    <div class="flex justify-between items-center">
      <div class="flex items-center justify-start">
        <button class="btn-menu text-gray-600 dark:text-gray-400" data-action="click->menu-btn#showMenu">
          <%= render Admin::IconComponent.new name: :menu, width: 24, klass: 'burger' %>
          <%= render Admin::IconComponent.new name: :close, width: 24, klass: 'close' %>
        </button>
        <%= link_to '/admin' do %>
          <span>Admin</span>
        <% end %>
        <div style="height: 46px;"></div>
      </div>
      <div class="flex items-center text-gray-900 dark:text-white">
        <div data-controller="dropdown" class="relative">
          <button data-action="click->dropdown#toggle" class="h-8 w-8 flex bg-red-200 dark:bg-red-500 text-gray-900 dark:text-white px-3 py-3 items-center justify-center ml-3 text-sm rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" type="button">
            <div class="uppercase"><%= current_user.email&.at(0) %></div>
          </button>

          <!-- Dropdown menu -->
          <div data-dropdown-target="menu" class="absolute overflow-hidden right-0 top-10 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
            <div class="text-sm text-gray-900 dark:text-white">
              <%= link_to admin_user_path(current_user), class: 'block px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do %>
                <div class="font-medium truncate"><%= current_user.email %></div>
                <div><%= t("roles.#{current_user.role}") %></div>
              <% end %>
            </div>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
              <li>
                <a href="/admin" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Аналитика</a>
              </li>
              <li>
                <a href="/admin/settings" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Настройки</a>
              </li>
            </ul>
            <%= button_to "Выйти", destroy_user_session_path, method: :delete, class: 'py-2 w-full text-left block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
