<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Live Chat" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <header id="header">
      <%= render '/layouts/partials/notices/notices' %>
      <%#= render partial: '/layouts/partials/header' %>
    </header>

    <main>
      <div class="container mx-auto px-5">
        <%= yield %>
      </div>
    </main>
    <%= vite_javascript_tag 'live-chat', defer: true %>
    <%= vite_stylesheet_tag 'live-chat' %>
    <div id="live-chat-container"
         data-api-url="<%= Rails.env.production? ? "https://#{ENV.fetch('HOST', nil)}" : 'http://localhost:3000' %>"
         data-token="<%= settings[:self_chat_token] %>"
         data-domain="<%= ENV.fetch('HOST', 'localhost:3000') %>"
         data-cable-url="<%= Rails.env.production? ? "wss://#{ENV.fetch('HOST', nil)}/cable" : 'ws://localhost:3000/cable' %>"
         style="position:fixed;z-index: 10000;right:20px;bottom:20px;"
    ></div>
  </body>
</html>
